
<div class="well" style="width: 60%; margin: auto; padding: auto">
<h2>Register</h2>
<p>Please provide a username, password and email address to register</p>

<?
	$form = new Form(); 
	echo $form->start();
	echo $form->add('username');
	echo $form->add('displayname',array('label' => 'Display Name'));
	echo $form->add('email');
	echo '<hr/>';
	echo $form->add('password',array('type' => 'password','value' => ''));
	echo $form->add('password2',array('type' => 'password','value' => '', 'label' => 'Confirm Password'));
	echo $form->captcha('captcha');
	echo '<hr/>';
	echo $form->add('Register',array('type' => 'submit'));
	echo $form->end();
?>

<hr/>
<p>Already have an account? Just <a href="<?=$site['base']?>/user/login">Login</a>

</div>
