<h2>All Users</h2>

<?php
	$types = array(1 => 'User', 2 => 'Administrator');
	$token = (new CsrfHelper())->prepareToken();
?>

<table class="table table-striped table-bordered">
<thead><tr>
<th>Avatar</th>
<th>Username</th>
<th>Display Name</th>
<th>Email Address</th>
<th>Registered</th>
<th>User Type</th>
<th>Action</th>
</tr></thead><tbody>
<?foreach($users as $u): ?>
<tr>
<? $avatar = empty($u->avatar) ? '/img/avatar.png' : $u->avatar; ?>
<td><img style="max-width: 32px; height: auto; max-height: 32px;" src="<?=$site['base']?><?=$avatar?>" <?=$avatar?></td>
<td><a href="<?=$site['base']?>/admin/user/edit/<?=$u->id?>"><?=h($u->username)?></a></td>
<td><?=h($u->displayname)?></td>
<td><?=h($u->email)?></td>
<td><?=$u->created?></td>
<td><?=h($types[$u->level])?></td>
<td>
<a class="btn btn-danger" href="<?=$site['base']?>/admin/user/delete/<?=$u->id?>?csrfToken=<?=$token?>"><i class="fa fa-times"></i></a>
<a class="btn btn-primary" href="<?=$site['base']?>/user/view/<?=$u->id?>"><i class="fa fa-eye"></i></a>
<a class="btn btn-default" href="<?=$site['base']?>/admin/user/edit/<?=$u->id?>"><i class="fa fa-pencil"></i></a>
</td>
</tr>
<?endforeach;?>
</tbody></table>


