<h2>Error <?= $ERROR['code'] ?>: <?= $ERROR['status'] ?></h2>
<!-- Show stack trace only when in debug mode -->
<?if($site['debug'] && isset($ERROR['trace']) && !empty($ERROR['trace'])):?>
<div class="alert alert-danger">
	<strong>Error</strong>: <?= h($ERROR['text']) ?>
</div>
<hr/>
<h4>Stack Trace</h4>

<div class="well">
	<ol>
		<?=h($ERROR['trace'])?>
	</ol>
</div>

<?endif?>
