<h2>Categories</h2>

<div class="row-fluid">
<div class="col-md-4">
<h4>Add New Category</h4>

<?php
	$form = new Form(); 
	echo $form->start(array('action' => $site['base'].'/admin/category/add'));
	echo $form->add('title',array('placeholder' => 'Enter Title'));
	echo $form->add('Add',array('type' => 'submit'));
	echo $form->end();
	$token = (new CsrfHelper())->prepareToken();
?>

</div>
<div class="col-md-8">
<h4>All Categories</h4>
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Category Name</th>
<th>Posts</th>
</thead>
<tbody>
<? foreach($categories as $category): ?>
<tr>
<td style="font-weight: bold">
	<a style="float: right" href="<?=$site['base']?>/admin/category/delete/<?=$category['id']?>?csrfToken=<?=$token?>">&times;</a>
<a href="<?=$site['base']?>/admin/category/edit/<?=$category['id']?>"><?=h($category['title'])?></a>
</td>
<td><?= $counts[$category['id']] ?></td>
</tr>
<? endforeach; ?>
</tbody>
</table>
</div>
</div>

