<? include("header.htm"); ?>
<? include("robpress.htm"); ?>
<div class="container" role="main">
	<? foreach(StatusMessage::get() as $message): ?>
		<div class="alert alert-<?=$message['type']?>"><?=h($message['message'])?></div>
	<? endforeach; ?>
	<?= $content ?>

</div>
<? include("footer.htm"); ?>
