<?php
	$token = (new CsrfHelper())->prepareToken();
?>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<?=$site['base']?>/"><?= h($site['name']) ?></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="<?=$site['base']?>/">Home</a></li>
	    <? foreach($menu as $item): ?>
            <li><a href="<?= $site['base'] ?>/<?= $item['link']?>"><?= h($item['label'])?></a></li>
	    <? endforeach; ?>
            <?if($site['debug'] == 1):?>
            <li><a href="<?= $site['base'] ?>/selftest">Self Test</a></li>
            <?endif?>
          </ul>
	  <ul class="nav navbar-nav navbar-right">

	<?php if(is_array($user)): ?> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><?= h($user['username']) ?> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<?= $site['base'] ?>/user/profile">Edit Profile</a></li>
            <li class="divider"></li>
	    <li><a href="<?= $site['base'] ?>/user/logout?csrfToken=<?=$token?>">Logout</a></li>
          </ul>
        </li>
	<? else: ?>
            <li><a href="<?= $site['base'] ?>/user/add">Register</a></li>
            <li><a href="<?= $site['base'] ?>/user/login">Login</a></li>
	<? endif; ?>
      </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

